extends layout

block content

    if c_user
        h1 #{title}: #{post.title}

        h3 Do you really want to delete this post?

            form(method='POST' action='')
              div.form-group
                input#postid.form-control(type='hidden',name='postid', required='true', value=post._id )

              button.btn.btn-primary(type='submit') Delete
    else
        p You shouldn't be here.